@font-face {
    font-family: 'digital-7';
    src: url(fonts/digital-7.ttf);
}
@font-face {
    font-family: 'Bebas Nueu';
    src: url(fonts/BebasNeue-Regular.ttf);
}
*{
    box-sizing: border-box;
}
body{
    margin: 0%;
    padding: 0%;
    background-color: black;
}
.title{
    font-family: 'Bebas Nueu';
    font-size: 4rem;
    color: rgb(0, 252, 0);
    text-align: center;
    letter-spacing: 2px;
    margin-top: 20px;
}
.clock{
    background-color: #000;
    color: rgb(0, 252, 0);
    border-style: outset;
    border-width: 15px;
    border-radius: 1%;
    border-color: rgb(0, 252, 0);
    display: grid;
    align-items: center;
    justify-content: center;
    height: 65vh;
    width: 49vw;
    grid-template-columns: 10% 2.5% 17.5% 10% 10% 10% 3% 1% 1% 10% 5% 3% 2% 15%;
    grid-template-rows: 10% 5% 15% 15% 5% 5% 10% 5% 10% 20%;
    font-family: 'digital-7';
    font-size: 3.125rem;
    margin-top: 10px;
    margin-left: 380px;
}
.time{
    font-size: 250px;
    grid-row-start: 6;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 12;
}
.date{
    grid-row-start: 10;
    grid-row-end: 10;
    grid-column-start: 2;
    grid-column-end: 7;
}
.day{
    grid-row-start: 10;
    grid-row-end: 10;
    grid-column-start: 8;
    grid-column-end: 8;
}
.seconds{
    margin-top: 60px;
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 13;
    grid-column-end: 13;
}
.meridian{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 13;
    grid-column-end: 13;
}