/*Dean Louis T. Santos CS-302*/
@font-face {
    font-family: 'digital-7';
    src: url(./fonts/digital-7.ttf);
}
@font-face {
    font-family: 'Bebas Nueu';
    src: url( ./fonts/BebasNeue-Regular.ttf);
}
*{
    box-sizing: border-box;
}
body{
    margin: 0%;
    padding: 0%;
    background-color: beige;
}
.clock{
    position: relative;
    margin: 140px auto; 
    background-color: black;
    border: none;
    border-radius: 2px;
    height: 62vh;
    width: 50vw;
}
.hour{
    left: 27%;
    top: 29%;
}
.minutes{
    right: 31%;
    top: 29%;
}
.seconds{
    right: 27.5%;
    bottom: 35%;
}
.AM-PM{
    right: 27.5%;
    top: 21%;
}
.date{
    left: 27.5%;
    bottom: 20%;
}
.day{
    right: 420px;
    bottom: 20%;
}
.AM-PM,.date,.day,.seconds{
    font-size: 3.125rem;
}
.title{
    position: absolute;
    left: 41.5%;
    top: 3%;
    font-size: 4rem;
    font-family: 'Bebas Nueu';
}
.hour,.minutes{
    font-size: 18.75rem;
}
.hour,.minutes,.AM-PM,.date,.day,.seconds{
    position:absolute;
    color: rgb(0, 241, 0);
    font-family:'digital-7';
}
